<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<div>
    <h1>Create Product</h1>
    <form th:action="@{/products}" th:method="POST" th:object="${product}">
        <div>
            <input type="text" th:name="productName" th:field="*{productName}" placeholder="ProductName">
        </div>
        <div>
            <input type="text" th:name="description" th:field="*{description}" placeholder="Description">
        </div>
        <div>
            <input type="text" th:name="userId" th:field="*{userId}" placeholder="User_id">
        </div>
        <div>
            <input type="text" th:name="price" th:field="*{price}" placeholder="Price">
        </div>
        <div>
            <select th:field="*{currency}">
                <option th:each="c: ${currencies}"
                        th:text="${c}"
                        th:value="${c}">Currency
                </option>
            </select>
        </div>
        <button type="submit">Create</button>
        <br/>
    </form>
    <form th:action="@{/products}" th:method="get">
        <button>Products list</button>
    </form>
</div>
</body>
</html>