<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Update Product</title>
</head>
<body>
<div>
    <h1>Update Product</h1>
    <form th:method="PATCH" th:action="@{/products/{id}(id=${product.getId()})}" th:object="${product}">
        <input type="text" th:field="*{user}" class="form-control" th:type="hidden" user="product.user"/>
        <div>
            <input type="text" th:name="productName" th:field="*{productName}" placeholder="ProductName">
        </div>
        <div>
            <input type="text" th:name="description" th:field="*{description}" placeholder="Description">
        </div>
        <div>
            <input type="text" th:name="price" th:field="*{price}" placeholder="Price">
        </div>
        <div>
            <select th:field="*{currency}">
                <option th:each="c: ${currencies}"
                        th:text="${c}"
                        th:value="${c}">Currency
                </option>
            </select>
        </div>
        <button type="submit">Update</button>
        <br/>
    </form>
    <form th:action="@{/products}" >
        <button>Products list</button>
    </form>
</div>
</body>
</html>