<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<h1>Users list</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Title</th>
    <th>Description</th>
    <th>Sales start date</th>
    <th>Price</th>
    <th>Currency</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product: ${products}">
    <td th:href="@{/product/{id}(id=${product.getId()})}"
        th:text="${product.id}">id</td>
    <td th:text="${product.userId}">name</td>
    <td th:text="${product.title}">title</td>
    <td th:text="${product.description}">description</td>
    <td th:text="${product.date}">date</td>
    <td th:text="${product.price}">price</td>
    <td th:text="${product.currency.value}">currency</td>

    <td>
      <a th:href="@{/product/{id}(id=${product.getId()})}">details</a>
    </td>

  </tr>
  </tbody>
</table>
<a href="/product/newProduct">Create product</a>
</body>
</html>