<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users list</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>User Name</th>
        <th>Password</th>
        <th>Name</th>
        <th>Phone number</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:href="@{/user/{id}(id=${user.getId()})}"
                th:text="${user.id}">id</td>
        <td th:text="${user.userName}">name</td>
        <td th:text="${user.password}">patronymic</td>
        <td th:text="${user.Name}">surname</td>
        <td th:text="${user.phoneNumber}">phoneNumber</td>
        <td th:action="@{/users/{id}(id=${user.id})}" th:method="delete">
                <button>Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/users/create}" th:method="get">
    <button>Create new user</button>
</form>
<form th:action="@{/}" th:method="get">
    <button>Home</button>
</form>

<!--<a href="/users/create">Create user</a>-->
</body>
</html>