<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form name='f' action="login" method='POST'>
  <table>
    <tr>
      <td>User name:</td>
      <td><input type='text' name='username' value=''></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type='password' name='password' /></td>
    </tr>
<!--    <tr>-->
<!--      <td><input name="submit" type="submit" value="submit" /></td>-->
<!--    </tr>-->
  </table>
<!--  <button type="submit">Submit</button><br/>-->
  <input type="submit" value="Submit"/>
</form>
<a href="/security/registration">Register on the site</a> <br>
</body>
</html>