<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div style="text-align:center">
    <h1>Registration</h1>
    <form th:method="POST" th:action="@{/authentication/registration}" th:object="${user}">
        <label for="userName">Input login:</label>
        <input type="text" th:field="*{userName}" id="userName"/>

        <br/>
        <label for="password">Input password:</label>
        <input type="password" th:field="*{password}" id="password"/>

        <br/>
        <label for="name">Input name:</label>
        <input type="text" th:field="*{name}" id="name"/>

        <br/>
        <label for="phoneNumber">Input phone number:</label>
        <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>

        <br/><br/>
        <input type="submit" value="Submit"/>
    </form>
</div>
</body>
</html>
